@charset "UTF-8";
/*
hhhhhhh             kkkkkkkk
h:::::h             k::::::k
h:::::h             k::::::k
h:::::h             k::::::k
 h::::h hhhhh        k:::::k    kkkkkkk
 h::::hh:::::hhh     k:::::k   k:::::k
 h::::::::::::::hh   k:::::k  k:::::k
 h:::::::hhh::::::h  k:::::k k:::::k
 h::::::h   h::::::h k::::::k:::::k
 h:::::h     h:::::h k:::::::::::k
 h:::::h     h:::::h k:::::::::::k
 h:::::h     h:::::h k::::::k:::::k
 h:::::h     h:::::hk::::::k k:::::k
 h:::::h     h:::::hk::::::k  k:::::k
 h:::::h     h:::::hk::::::k   k:::::k
 hhhhhhh     hhhhhhhkkkkkkkk    kkkkkkk

 Hannah Kane - Film and Theatrical make-up artist


Project: Hannah Kane
Project URI: www.hannah-kane.com
Author: Michael Mckeever
Author URI: helloiammichael.com




Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Normalize
- Reusables
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Animate






*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'tiempos-headline';
  src: url("../fonts/TiemposHeadlineWeb-Black.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/TiemposHeadlineWeb-Black.woff") format("woff"); }
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }

  .column,
  .columns {
    margin-left: 4%; }

  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns {
    width: 4.66666666667%; }

  .two.columns {
    width: 13.3333333333%; }

  .three.columns {
    width: 22%; }

  .four.columns {
    width: 30.6666666667%; }

  .five.columns {
    width: 39.3333333333%; }

  .six.columns {
    width: 48%; }

  .seven.columns {
    width: 56.6666666667%; }

  .eight.columns {
    width: 65.3333333333%; }

  .nine.columns {
    width: 74.0%; }

  .ten.columns {
    width: 82.6666666667%; }

  .eleven.columns {
    width: 91.3333333333%; }

  .twelve.columns {
    width: 100%;
    margin-left: 0; }

  .one-third.column {
    width: 30.6666666667%; }

  .two-thirds.column {
    width: 65.3333333333%; }

  .one-half.column {
    width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%; }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%; }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%; }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%; }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%; }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%; }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%; }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%; }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%; } }
.three-layout-columns {
  -webkit-column-count: 1;
     -moz-column-count: 1;
          column-count: 1; }
  @media (min-width: 695px) {
    .three-layout-columns {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
      -webkit-column-gap: 4rem;
         -moz-column-gap: 4rem;
              column-gap: 4rem; } }
  @media (min-width: 1060px) {
    .three-layout-columns {
      -webkit-column-count: 3;
         -moz-column-count: 3;
              column-count: 3; } }

.two-layout-columns {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1; }
  @media (min-width: 550px) {
    .two-layout-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2; } }

@media (min-width: 700px) {
  .secondary-container {
    position: relative; } }

@media (min-width: 700px) {
  .aligner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .aligner-item--top {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }

  .aligner-item--bottom {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; } }
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, * {
  box-sizing: border-box; }

body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "adelle-sans", Helvetica, Arial, sans-serif;
  color: #000;
  position: relative; }

img {
  max-width: 100%;
  height: auto; }

section {
  margin-bottom: 6rem; }
  @media (min-width: 700px) {
    section {
      margin-bottom: 12rem; } }

footer {
  margin-top: 12rem;
  border-top: 2px solid #000; }
  @media (min-width: 700px) {
    footer {
      margin-top: 24rem; } }
  footer p {
    padding: 20px 0;
    font-size: 100%;
    margin: 0; }

.header-main {
  padding: 10px 0;
  margin-bottom: 6rem;
  border-bottom: 2px solid #000; }
  @media (min-width: 550px) {
    .header-main {
      padding: 20px 0; } }

figure {
  padding: 0;
  margin: 0; }

img {
  opacity: 0;
  -webkit-transition: opacity .3s ease-in;
          transition: opacity .3s ease-in; }

.photo-container {
  background: #000;
  position: relative;
  height: 0;
  overflow: hidden; }
  .photo-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.sixteen-by-nine {
  padding-bottom: 62.5%;
  /* 16:9 ratio */ }

.three-by-four {
  padding-bottom: 133%;
  /* 3:4 ratio */ }

.four-by-five {
  padding-bottom: 125%;
  /* 3:4 ratio */ }

.five-by-seven {
  padding-bottom: 140%;
  /* 3:4 ratio */ }

.headline {
  float: left; }
  .headline h2 {
    padding-top: 2rem;
    -webkit-animation-delay: .4s;
            animation-delay: .4s;
    margin-bottom: 4rem; }
  @media (min-width: 700px) {
    .headline {
      margin-top: -14rem;
      z-index: 2; }
      .headline h2 {
        padding: 2rem 2rem 0 0; } }

@media (min-width: 700px) {
  .headline--headline {
    width: 70%;
    background: #fff; } }

.headline--body {
  -webkit-animation-delay: .8s;
          animation-delay: .8s; }
  .headline--body p {
    text-align: justify; }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: bold;
  line-height: 1.2; }

h1 {
  font-size: 4.0rem; }

h2, blockquote p {
  font-size: 3.6rem;
  font-family: "tiempos-headline", Cambria, Times New Roman, Times, serif; }

h3 {
  font-family: "tiempos-headline", Cambria, Times New Roman, Times, serif;
  font-size: 3.0rem; }

h4 {
  font-size: 2.0rem; }

h5 {
  font-size: 1.8rem; }

h6 {
  font-size: 1.5rem; }

.logo {
  overflow: hidden;
  text-indent: -9000px;
  display: block;
  background-image: url("../images/logo.svg");
  width: 70px;
  height: 70px;
  margin: 0 auto;
  padding: 0; }
  @media (min-width: 550px) {
    .logo {
      margin: 0; } }

.no-touch .header .logo:before {
  content: url("../images/logo-animated.gif");
  width: 0;
  height: 0;
  visibility: hidden; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .no-touch .header .logo:before {
      content: url("../images/logo-animated-2x.gif"); } }
.no-touch .header .logo:hover {
  background-image: url("../images/logo-animated.gif"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .no-touch .header .logo:hover {
      background-image: url("../images/logo-animated-2x.gif");
      background-size: 70px 70px; } }
.no-touch .header .logo:active {
  background-image: url("../images/logo.svg"); }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 6.0rem; }

  h2, blockquote p {
    font-size: 6.0rem; }

  h3 {
    font-size: 4.8rem; }

  h5 {
    font-size: 2.4rem; }

  h6 {
    font-size: 1.5rem; } }
p {
  margin-top: 0;
  font-size: 1.8rem; }
  @media (min-width: 550px) {
    p {
      font-size: 2rem; } }

blockquote {
  padding: 0;
  margin: 0; }
  blockquote p {
    border-top: 5px solid #000;
    padding: 2rem 0;
    border-bottom: 5px solid #000;
    line-height: 1.2;
    font-weight: bold; }
  blockquote cite {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-style: normal;
    font-size: 1.8rem; }
    @media (min-width: 550px) {
      blockquote cite {
        font-size: 2.0rem; } }

.primary-quote {
  padding: 4rem 0 4rem 4rem; }
  @media (min-width: 700px) {
    .primary-quote {
      margin-top: -14rem;
      position: absolute;
      background: white; } }

.section-header {
  border-top: 5px solid #000;
  padding: 2rem 0;
  border-bottom: 5px solid #000; }

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
p a, nav a, .inline-link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  vertical-align: bottom;
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s; }
  p a:hover, p a:focus, nav a:hover, nav a:focus, .inline-link:hover, .inline-link:focus {
    -webkit-transform: scale(0.8333);
        -ms-transform: scale(0.8333);
            transform: scale(0.8333); }
  p a:active, nav a:active, .inline-link:active {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  p a:before, nav a:before, .inline-link:before {
    position: absolute;
    top: -2px;
    left: -7px;
    box-sizing: content-box;
    padding: 0 5px;
    width: 100%;
    height: 100%;
    border: 3px solid #000;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
            transition: opacity 0.2s, transform 0.2s;
    -webkit-transform: scale(0.8333);
        -ms-transform: scale(0.8333);
            transform: scale(0.8333); }
  p a:hover:before, p a:focus:before, nav a:hover:before, nav a:focus:before, .inline-link:hover:before, .inline-link:focus:before {
    opacity: 1;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5); }
  p a:active:before, nav a:active:before, .inline-link:active:before {
    opacity: 0; }

p a:hover:before, p a:focus:before {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); }

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #000;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  border: 1px solid #bbb;
  cursor: pointer; }
  .button:hover, .button:focus, button:hover, button:focus, input[type="submit"]:hover, input[type="submit"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="button"]:hover, input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }

.button-primary, .button.button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
  .button-primary:hover, .button-primary:focus, .button.button-primary:hover, .button.button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB; }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {
    border: 1px solid #33C3F0;
    outline: 0; }

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"],
input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside; }

ol, ul {
  padding-left: 0;
  margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

nav[role="navigation"] {
  margin: 0 auto;
  font-size: 1.6rem; }
  nav[role="navigation"].u-pull-right {
    float: none; }
    @media (min-width: 550px) {
      nav[role="navigation"].u-pull-right {
        float: right; } }
  nav[role="navigation"] ul {
    text-align: center;
    list-style-type: none;
    padding-top: 28px;
    font-weight: bold; }
    nav[role="navigation"] ul > li:last-child {
      margin-right: 0px; }
  nav[role="navigation"] li {
    margin: 0;
    margin-right: 4rem;
    display: inline !important; }
    @media (min-width: 550px) {
      nav[role="navigation"] li {
        margin-right: 6rem; } }
    nav[role="navigation"] li a {
      display: inline-block; }

.sublist {
  margin-top: 6rem;
  list-style-type: none; }
  .sublist li {
    margin-bottom: 4rem; }
  .sublist h4 {
    margin-bottom: .5rem; }
  .sublist p {
    font-size: 1.2rem; }
  @media (min-width: 550px) {
    .sublist p {
      font-size: 1.4rem; }
    .sublist li {
      margin-bottom: 8rem; } }

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
  th:first-child,
  td:first-child {
    padding-left: 0; }
  th:last-child,
  td:last-child {
    padding-right: 0; }

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

.u-center, .u-center-table {
  margin: 0 auto; }

.u-center-table {
  display: table; }

.u-left {
  text-align: left; }

.u-right {
  text-align: right; }

.u-greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all .3s ease-in;
          transition: all .3s ease-in;
  -webkit-filter: gray;
          filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale"); }
  .u-greyscale:hover, .u-greyscale:focus {
    -webkit-filter: none;
            filter: none; }

::-moz-selection {
  background-color: #cccccc;
  text-shadow: none; }

::selection {
  background-color: #cccccc;
  text-shadow: none; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
