/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}
ol, ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  margin-bottom: 1rem;
}

nav[role="navigation"] {
  margin: 0 auto;
  font-size: 1.6rem;
  &.u-pull-right {
    float: none;
    @media (min-width: $phablet-breakpoint) {
      float: right;
    }
  }
  ul {
    @include navigation-list;
    padding-top: 28px;
    font-weight: bold;
  }
  li {
    margin: 0;
    margin-right: 3rem;
    @media (min-width: $phablet-breakpoint) {
          margin-right: 6rem;
    }

    display: inline;
    a {
      display: inline-block;
    }
  }
}

.sublist {
  margin-top: 6rem;
  list-style-type: none;
  li {
    margin-bottom: 4rem;
  }
  h4 {
    margin-bottom: 0;
  }
  p {
    font-size: 1.2rem;
  }
  @media (min-width: $phablet-breakpoint ) {
    p {
      font-size: 1.4rem;
    }
    li {
      margin-bottom: 8rem;
    }
  }
}
