/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: bold;
  line-height: 1.2;
}
h1 {
  font-size: 4.0rem;
}
h2, blockquote p {
  font-size: 2.4rem;
  line-height: 1.3;
  font-family: $serif;
  @media (min-width: $phablet-breakpoint) {
    line-height: 1.2;
    font-size: 4.0rem;
  }
  @media (min-width: $container-width) {
    font-size: 5.8rem;
  }
  @media (min-width: $desktop-breakpoint) {
    font-size: 6.0rem;
  }
  @media (min-width: $hd) {
    font-size: 7.0rem;
  }

}
h3 {
  font-family: $serif;
  font-size: 3.0rem;
}
h4 {
  font-family: $serif;
  font-size: 2.0rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.5rem;
}

.logo {
  @include hide-text;
  background-image: url('../images/logo.svg');
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0;
  @media (min-width: $phablet-breakpoint) {
    margin: 0;
    width: 70px;
    height: 70px;
  }
}

//add animated logo for non-touch devices
.no-touch .header .logo {
  &:before {
    @include retinize-content(logo-animated, gif);
    width: 0;
    height: 0;
    visibility: hidden;
  }
  &:hover {
    @include retinize(logo-animated, gif, 70px, 70px);
  }
  &:active {
    background-image: url('../images/logo.svg');
  }
}

/* Larger than phablet */
@media (min-width: $phablet-breakpoint) {
  h1 {
    font-size: 6.0rem;
  }
  // h2, blockquote p {
  //   font-size: 4.0rem;
  // }
  h3 {
    font-size: 4.8rem;
  }

  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

p {
  margin-top: 0;
  font-size: 1.8rem;
  @media (min-width: $phablet-breakpoint) {
    font-size: 2.2rem;
  }
}

blockquote {
  padding: 0;
  margin: 0;
  p {
    @include border-surround;
    line-height: 1.2;
    font-weight: bold;
  }
  cite {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-style: normal;
    font-size: 1.8rem;
    @media (min-width: $phablet-breakpoint) {
      font-size: 2.0rem;
    }
  }
}

.primary-quote {
  background: white;
  margin-top: -10rem;
  position: relative;
  z-index: 2;
  width: 90%;
  float: right;
  padding: 2rem 0 2rem 2rem;
  @media (min-width: $tablet-breakpoint) {
      padding: 4rem 0 4rem 4rem;
      margin-top: -14rem;
      position: absolute;

  }

}

.section-header {
    @include border-surround;
    margin-bottom: 6rem;
}
